/* src/pages/CompletedTasksPage.css */
.completed-tasks-page {
  margin-left: 220px;
  padding: 20px;
}

.completed-tasks-page h1 {
  text-align: center;
  margin-bottom: 30px;
  font-size: 28px;
  color: #333;
}

.completed-tasks-page.light {
  background-color: #ffffff;
  color: #333;
}

.completed-tasks-page.dark {
  background-color: #121212;
  color: #f0f0f0;
}
.highlight {
  background-color: yellow;
  color: #000;
  padding: 0 2px;
  border-radius: 3px;
  font-weight: bold;
}
.highlight {
  background-color: yellow;
}

